/* src/components/SignUp.css */

.signup-page {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .user-type-selection {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .radio {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .radiobtn {
    display: flex;
    width: auto;
    margin: 15px;
  }
  
  label {
    margin: 0 10px;
    display: flex;
    cursor: pointer;
    text-align: left;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
  }
  
  input {
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }  